<!-- Navbar -->
<div class="aboutUser d-none" id="aboutUser">
	<div class="d-flex text-center gap-3 h-100 w-100">
		<div class="w-100 p-3">
			<h2 class="text-light fw-bold">{{user.username}}</h2>
			<br />
			<span class="navbarInfoSpan">
				<span>Region</span>
				<span>{{userSetting.location}}</span>
			</span>
			<span class="navbarInfoSpan">
				<span>Money</span>
				<span>{{user.money}}</span>
			</span>
			<span class="navbarInfoSpan">
				<span>Games</span>
				<span>{{user.gameCount}}</span>
			</span>
			<span class="navbarInfoSpan">
				<span>Wins</span>
				<span>{{user.winCount}}</span>
			</span>
		</div>
		<div class="d-flex align-item-center text-center w-100">
			<div class="slider">
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
				<img src="/img/user/{{userSetting.image}}" alt="Alt 1" />
			</div>
		</div>
	</div>
	<button class="aboutCloseBtn" id="navbarUsrInfoClose">X</button>
</div>
<nav
	class="navbar navbar-main navbar-expand-lg px-0 mb-0 pb-0 mx-4 shadow-none border-radius-xl"
	id="navbarBlur"
	navbar-scroll="true"
>
	<div class="container-fluid py-1 px-3">

		<div
			class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
			id="navbar"
		>
			<div class="d-flex lvStyle">
				<img src="/img/lv/lv.png" alt="Image" height="45px" width="45px" />
				<span class="moneySpan">{{user.level}}</span>
				<button class="navUser" id="navUser">
					<i class="fa fa-user" aria-hidden="true"></i>
				</button>
			</div>
			<div class="d-flex moneyStyle">
				<img src="/img/money.png" alt="Image" height="80px" />
				<span class="moneySpan">{{user.money}}</span>
			</div>
			<div class="ms-md-auto pe-md-3 d-flex align-items-center">
			</div>
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item d-flex align-items-center">

				</li>
				<li class="nav-item d-flex align-items-center">
					<a href="/logout" class="nav-link text-body font-weight-bold px-0">
						<img
							src="/img/logout.png"
							alt=""
							height="50px"
							class="p-0 user-select-none"
						/>
					</a>
				</li>
				<li class="nav-item d-xl-none ps-3 d-flex align-items-center">
					<a href="javascript:;" class="nav-link text-body p-0">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- End Navbar -->